# Created by venv; see https://docs.python.org/3/library/venv.html
# Arquivos de Ambiente Virtual
venv/
.venv/
env/
.env

# Arquivos de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de configuração de IDEs e editores
.vscode/
.idea/

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Arquivos de build e distribuição
/dist/
/build/
*.egg-info/
